.login-page {
    background: url(../pictures/image6.jpg) no-repeat center center fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  

  .login-form {
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 40px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
  }
  
  .login-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  

  .login-form input {
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-bottom: 2px solid white;
    border-radius: 0; 
    margin-bottom: 20px;
    padding: 10px;
    color: white;
    width: 100%;
  }
  
  .login-form input::placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
  
 
  .login-form input:focus {
    outline: none;
  }
  
 
  .buttonL, .button-backL {
    font-family: 'Inter', sans-serif;
    width: 50%;
    letter-spacing: 5px;
    background-color: rgba(54, 82, 54, 1);
    color: rgba(255, 255, 255, 1);
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    border-radius: 1rem; 
    transition: background-color 700ms, color 700ms; 
  }
  
  .button-backL {
    background-color: #f44336; 
  }
  
  
  .buttonL:hover, .button-backL:hover {
    opacity: 0.8;
  }
  

  .login-form p {
    text-align: center;
    color: white;
  }
  
  .login-form a {
    color: #00BFFF;
    text-decoration: none;
  }
  
  .login-form a:hover {
    text-decoration: underline;
  }
  