
.shop-page {
    font-family: 'Arial', sans-serif;
    padding: 20px;
    background-color: #f5f5f5;
    /* Adjust background color as needed */
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    /* Spacing between cards */
    margin-top: 5%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex: 0 0 auto;
    width: 300px;
    /* Width of the card */
}

.card {
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-grid {
    margin-top: 5%;
}

.card-img-top {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    /* Match the card's border radius */
    border-top-right-radius: 10px;
    /* Match the card's border radius */
}

.card-body {
    padding: 16px;
}

.text-center {
    text-align: center;
}

.fw-bolder {
    font-weight: bold;
}

.card-footer {
    background: transparent;
    border-top: none;
}

.btn {
    font-family: 'Inter', sans-serif;
    width: 50%;
    letter-spacing: 5px;
    background-color: rgba(54, 82, 54, 1);
    color: rgba(255, 255, 255, 1);
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    border-radius: 5rem;
    /* Adjust border-radius to match Bootstrap's default if needed */
    transition: background-color 700ms, color 700ms;
    /* Transition time set to 700ms */
}

.btn:hover {
    background-color: rgba(230, 233, 230, 1);
    color: rgba(54, 82, 54, 1);
}

.shop-navbar {
    color: rgba(54, 82, 54, 1);
}


/* You may need to adjust font sizes, colors, and padding to match the exact design you're after */